body {
    width:100%; 
}
.middlePage{
    width:80%;
    margin:100px auto 0 auto;
}
.alingCenter{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.imageStyle{
    margin-top:20px;
    margin-left:20px;
    max-height:250px;
    max-width:200px;
}
#mainContent{
    width:80%;
    margin:50px auto 0 auto;
    background-color:#ccffff;
}
.rowHeight{
    height:300px;
}
.marginTop-20{
    margin-top:20px;
}

.elmFloatL{
    float:left;
}

