body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:#ffffff;
    min-height:70%;
    margin-bottom:0px;
    border-radius:15px;
    
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
#currentgenreList{
    list-style-type:none;
}
.marginTop-20{
    margin-top:20px;
}
.marginBott-20{
    margin-bottom:20px;
}
.marginBott-100{
    margin-bottom:100px;
}
.marginTop-50{
    margin-top:50px;
}
.marginTop-100{
     margin-top:100px;
}
.marginTop-200{
    margin-top:200px;
}
.imageStyle{
    margin-top:20px;
    margin-left:20px;
    height:270px;
    width:190px;
}
.whiteSpace{
    background-color:#ffffff;
    height:50px;
}
.textSize-200{
    font-size:200%;
}
.glyphiconSize{
    font-size:30px;
}
.imageStyleIndex{
    height:270px;
    width:100%;
}
.redText{
    color:#ff0000;
}
body{
    background-image:url(../Images/moviesBackground.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}



