@model IEnumerable<Movies.Models.Movie>

@{
    ViewBag.Title = "UserIndex";
}

<h2>Your Favorites</h2>

<div class="alertPlaceHolder"></div>
<div id="favorites">
    @Html.Partial("_FavoritePartial", Model)
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            //Trailer window
            $(".videoPopUp").fancybox({
                maxWidth: 800,
                maxHeight: 600,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
            //Notice: Put selector inside the on to avoid stop firing after refresh partial view
            $(document).on('click', ".moviesItem", function (event) {
                
                var movieId = event.target.id;

                $.ajax({
                    url: '@Url.Action("DeleteFavorites", "Movies")',
                    data: { "movie": movieId },
                    type: 'GET',
                    dataType: 'html',
                    cache: false,
                    success: function (data) {
                        //Update the favorite list
                        $("#favorites").html(data);
                        //Bootstrap alert
                        bootstrap_alert("The movie has been delete Successfully");
                    },
                    error: function () {
                        alert("An error has ocurred :(")
                    }
                });
            });
        });
        
        //Bootstrap alert
        bootstrap_alert = function (message) {
            $(".alertPlaceHolder").html("<div class='alert alert-warning alert-dismissible' role='alert'>" +
                                        "<button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>" +
                                        "&times;</span><span class='sr-only'>Close</span></button><strong>" + message + "</strong></div>");
        }
    </script>    
}